:root{
    --blanco : #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}
/* Globales */
html {
    font-size: 55%;
    box-sizing: border-box; /* Hack para Box Model */
    scroll-snap-type: y mandatory ;
}

/*Scroll Snap*/
.servicio,
.navegarcion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%); 
}

.contenedor{
    width: 120rem;
    margin: auto;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    border:none;
}
@media (min-width: 768px){
   .boton{
       width: auto;
   }
}

.boton:hover{
    cursor: pointer;
}

.sombra{
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    background-color: rgba(255, 255, 255, 1);
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 10px;
}

/* Tipografia */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
/* Titulos */
.titulo span{
    font-size: 2rem;
}

.w-sm-100{
    width: 100%;
}

@media (min-width: 768px){
    .w-sm-100{
        width: auto;
    }
}

.flex{
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}

/* Navegacion principal*/
.nav-bg{
    background-color: var(--secundario);
}

.navegarcion-principal{
    display: flex;
    flex-direction: column;

}

@media (min-width: 768px){ 
    .navegarcion-principal{
    flex-direction: row;
    justify-content: space-between;
    }
}

.navegarcion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegarcion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Hero */
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    padding: relative;
}

.contenido-hero{
    position: relative;
    /*background-color:rgb(0, 0, 0, 0.7); anterior*/
    background-color: rgb( 0 0 0 / 70%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, 
.contenido-hero p{
    color: var(--blanco);
}

.contenido-hero .ubicacion{
    display: flex;
    align-items: flex-end;
}

/* Servicios */ 
@media (min-width:768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight:  normal;
}

.servicio p{
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primario);
    border-radius: 50%;
}

/* Contacto */
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /* Utilizar el valor mas pequeño*/
    margin: 0 auto; 
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px){
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem ;
        column-gap: 1rem;
    } 
      
    .campo:nth-child(3), 
    .campo:nth-child(4){
        grid-column: 1/3;
    }
}


.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo textarea{
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.enviar .boton{
    width: 100%;
}

/* Footer */
.footer {
    text-align: center;
}